<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGu2Jc0AG4CZdlLjTMKZ7ZZBq4XmvxgnU</string>
	<key>GCM_SENDER_ID</key>
	<string>116229810073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.uts.Assignment3-WhatToEat</string>
	<key>PROJECT_ID</key>
	<string>ios-application-developm-3450f</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-application-developm-3450f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116229810073:ios:f085f0c8e4ffc2298a5508</string>
</dict>
</plist>